@import url(fonts.css);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --main-color: #7177F1;
    --second-color: #fff;
    --circle: #790FF1;
    --square: #9297EF;
    --text: #323232;
    --font-m: 'Montserrat';
    --font-t: 'Trebuchet';
    --body: #fff;
    --dots: #828282;
}

.nav__logo::after {
    content: url(../img/svg/logo-light.svg);
}

.nav__link {
    font-size: 24px;
    line-height: 16px;
    text-transform: capitalize;
    color: var(--main-color);
}

body {
    font-family: var(--font-m);
    background: var(--body);
}

a {
    text-decoration: none;
}

.nav__list {
    column-gap: 30px;
}

.all-btn {
    color: var(--second-color);
    background: var(--main-color);
    box-shadow: 0px 0px 5px 1px rgba(113, 119, 241, 0.5);
    border-radius: 8px;
    font-size: 24px;
    line-height: 16px;
    display: inline-block;
    text-transform: uppercase;
}

.all-btn:hover {
    background: transparent;
    color: var(--main-color);
}

.nav-order {
    padding: 10px 43px;
    margin-right: 28px;
}

.nav__link-tel {
    font-size: 25px;
    color: var(--main-color);
}

.menu-icon {
    border: none;
    width: 50px;
    height: 1px;
    background: var(--text);
    padding: 0;
    position: relative;
}

.menu-icon:focus {
    box-shadow: none;
}

.menu-icon::after,
.menu-icon::before {
    content: '';
    position: absolute;
    top: -10px;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--text);
    transition: 0.2s linear;
}

.menu-icon::after {
    top: 10px;
}

.menu-icon:not(.collapsed)::before {
    top: 0;
    transform: rotate(-45deg);
}

.menu-icon:not(.collapsed)::after {
    top: 0;
    transform: rotate(45deg);
}

.menu-icon:not(.collapsed) {
    background: transparent;
}

.header__subtitle {
    font-weight: 600;
    font-size: 24px;
    line-height: 22px;
    color: var(--text);
    text-transform: capitalize;
    margin-bottom: 10px;
    display: inline-block;
}

.title {
    font-weight: 600;
    font-size: 40px;
    line-height: 50px;
    text-transform: capitalize;
    color: var(--main-color);
}

.header__title {
    margin-bottom: 25px;
}

.header__content-btn {
    padding: 12px 58px;
}

.header__nav {
    position: relative;
}

.header__nav::before {
    content: '';
    z-index: -1;
    position: absolute;
    left: 48px;
    top: 92px;
    width: 80px;
    height: 80px;
    border: 5px solid var(--square);
    animation: animate 2s linear infinite alternate;
}

@keyframes animate {
    0% {
        transform: rotate(0);
    }

    100% {
        transform: rotate(360deg);
    }
}

.header__nav::after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 65px;
    height: 60px;
    border: 5px solid var(--circle);
    border-radius: 50%;
    top: 32px;
    left: 12%;
    animation: animate 2s linear infinite alternate;
}

.header__indicators {
    position: static;
    margin-top: 50px;
    margin-right: auto;
    margin-left: auto;
    column-gap: 30px;
}

.header__indicators-dots {
    width: 15px !important;
    height: 15px !important;
    border-radius: 50%;
    border: none !important;
    background: var(--dots) !important;
}

.header__indicators-dots.active {
    background: var(--main-color) !important;
}

.header__bottom {
    position: relative;
}

.header__bottom::before {
    content: '';
    position: absolute;
    width: 98px;
    height: 98px;
    right: 6%;
    z-index: -1;
    top: 180px;
    animation: animate 2s linear infinite alternate;
    border: 5px solid var(--square);
}

.header__bottom::after {
    content: '';
    position: absolute;
    width: 80px;
    height: 80px;
    z-index: -1;
    right: 16%;
    top: 420px;
    animation: animate 2s linear infinite alternate;
    border: 5px solid var(--square);
}

.header__content {
    margin-bottom: 50px;
}

.header__tech-brand {
    font-size: 77px;
}

.header__tech-card:nth-child(1) .header__tech-brand {
    color: #E44F26;
}

.header__tech-card:nth-child(2) .header__tech-brand {
    color: #1572B6;
}

.header__tech-card:nth-child(3) .header__tech-brand {
    color: #790FF1;
}

.header__tech-title {
    font-weight: 900;
    font-size: 20px;
    line-height: 24px;
    text-transform: uppercase;
    color: var(--main-color);
}

.header__bottom {
    padding-top: 42px;
}

.about__img {
    width: 100%;
}

.about__image {
    max-width: 460px;
    width: 100%;
    position: relative;
}

.about {
    padding-top: 70px;
}

.about__work {
    position: absolute;
    top: 0;
    left: 0;
    font-size: 18px;
    line-height: 100%;
    color: var(--text);
    padding: 24px 30px;
    background: #FFFFFF;
    box-shadow: 0px 0px 20px rgba(113, 119, 241, 0.5);
    border-radius: 8px;
    text-transform: uppercase;
    transform: translate(-50%, -50%);

}

.about__work::before {
    content: '5+';
    position: absolute;
    top: 0;
    right: 0;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #0FDAC2;
    border-radius: 50%;
    transform: translate(50%, -50%);
    font-style: italic;
    font-weight: 700;
}

.about__descriptions {
    height: 100%;
    padding: 30px;
    background: var(--body);
    box-shadow: 0px 0px 5px 3px rgba(113, 119, 241, 0.15);
    border-radius: 8px;
}

.about__title {
    margin-bottom: 25px;
}

.about__text {
    font-size: 18px;
    line-height: 150%;
    text-transform: capitalize;
    color: var(--text);
    margin-bottom: 20px;
}

.about-btn {
    padding: 13px 33px;
    margin-left: 50px;
}

.about {
    position: relative;
    padding-top: 75px;
}

.about::after {
    content: url(../img/svg/figure_1.svg);
    position: absolute;
    right: 0;
    top: -90%;
    z-index: -1;
}

.about::before {
    content: '';
    position: absolute;
    width: 65px;
    height: 60px;
    border-radius: 50%;
    border: 5px solid var(--square);
    animation: animate 2s linear infinite alternate;
    right: 113px;
    bottom: -100px;
}

.capabilities {
    padding-top: 75px;
}

.capabilities__title {
    margin-bottom: 30px;
}

.capabilities__tech-brand {
    font-size: 25px;
}

.accardion-span {
    text-transform: uppercase;
    font-weight: 900;
    font-size: 18px;
    line-height: 22px;
    color: var(--main-color);
    margin-left: 20px;
}

.fa-html5.capabilities__tech-brand {
    color: #E44F26;
}

.fa-css3-alt.capabilities__tech-brand {
    color: #1572B6;
}

.fa-bootstrap.capabilities__tech-brand {
    color: #790FF1;
}

.capabilities__button:focus {
    box-shadow: none;
}

.capabilities__button::after {
    background-image: url(../img/svg/arrow.svg);
}

.capabilities__button:not(.collapsed)::after {
    background-image: url(../img/svg/arrow-white.svg);
    transform: rotate(0);
}

.capabilities__accordion {
    box-shadow: 0px 0px 5px 3px rgba(113, 119, 241, 0.15);
    position: relative;
}

.capabilities__accordion::before {
    content: '';
    position: absolute;
    top: -54px;
    left: 28px;
    width: 65px;
    height: 60px;
    border-radius: 50%;
    border: 5px solid var(--square);
    animation: animate 2s infinite alternate linear;
    z-index: -1;
}

.capabilities__button:not(.collapsed) {
    background: var(--main-color);
}

.capabilities__button:not(.collapsed) .accardion-span,
.capabilities__button:not(.collapsed) .capabilities__tech-brand {
    color: #fff;
}

.accordion-item {
    border: none;
}

.accordion-item:nth-child(1) {
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    overflow: hidden;
}

.accordion-item:nth-last-child(1) {
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    overflow: hidden;
}

.capabilities__accordion .accordion-body {
    background: var(--main-color);

}

.accordion__txt {
    color: #FFF;
}

.capabilities__button {
    box-shadow: none !important;
    position: relative;
    background: var(--body);
}

.capabilities__button::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 95%;
    height: 1px;
    background: #DDDDDD;
    border-radius: 8px;
    transform: translateX(-50%);
}

.accordion-item:nth-last-child(1) .capabilities__button::before {
    display: none;
}

.capabilities__img img {
    width: 100%;
}

.my-works {
    padding-top: 80px;
    position: relative;
}

.my-works::before {
    content: url(../img/svg/figure_2.svg);
    position: absolute;
    left: 0;
    top: -25%;
    z-index: -1;
}

.my-works__title {
    margin-bottom: 30px;
}

.my-works__list {
    border-radius: 8px;
}

.works__tab-image img {
    max-height: 320px;
    height: 100%;
    max-width: 250px;
    width: 100%;
    object-fit: cover;
    object-position: top;
}

.works__tab-image {
    border-radius: 8px;
    overflow: hidden;
    height: 100%;
    min-height: 320px;
}

.list-group-item {
    font-weight: 600;
    font-size: 18px;
    text-transform: uppercase;
    color: var(--main-color);
    padding: 16.5px;
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.35);
    background: var(--body);

}

.list-group-item.active {
    background: var(--main-color);
    color: var(--body);
}

.my-works__tab {
    box-shadow: 0px 0px 5px 3px rgba(113, 119, 241, 0.15);
    border-radius: 8px;
    background: var(--body);
    padding: 20px;
}

.works__tab-title {
    font-size: 24px;
    line-height: 29px;
    margin-bottom: 25px;
}

.works__tab-txt {
    font-size: 18px;
    line-height: 150%;
    color: var(--second-color);
    text-transform: capitalize;
    margin-bottom: 30px;
}

.works__tab-btn {
    padding: 11px 62px;
}

.my-works::after {
    content: '';
    position: absolute;
    width: 98px;
    height: 98px;
    border: 5px solid var(--square);
    animation: animate2 5s linear alternate infinite;
    z-index: -1;
}

@keyframes animate2 {
    0% {
        right: 0;
        transform: rotate(0);
        bottom: 0;
    }

    50% {
        right: 53%;
        transform: rotate(720deg);
        bottom: 96%;
    }

    100% {
        right: 96%;
        transform: rotate(0);
        bottom: 0;
    }
}

.footer {
    padding-top: 200px;
    padding-bottom: 133px;
}

.footer__logo {
    margin-bottom: 30px;
}

.footer__contact,
.footer__link {
    font-size: 24px;
    line-height: 29px;
    text-transform: capitalize;
    color: var(--main-color);
}
.footer__list{
    margin-bottom: 30px;
}